[submodule "lessphp"]
	path = lessphp
	url = git@github.com:clearideaz/lessphp.git
[submodule "extends/css-compressor"]
	path = extends/css-compressor
	url = git@github.com:clearideaz/css-compressor.git
